@media (max-width: 1024px) {
  .s1 {
    height: auto;
    padding: 40px;

    .container {
      h1 {
        font-size: 32px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .s3 {
    .s3-top {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    .s3-boxes {
      grid-template-columns: 1fr;
    }
  }

  .s4 {
    .s4-grid {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  .s5 {
    .s5-grid {
      grid-template-columns: 1fr;
    }
  }

  .s6 {
    .s6-box {
      grid-template-columns: 1fr;
      padding: 40px;
      padding-left: 40px;
    }

    .s6-image {
      position: relative;
      right: auto;
      bottom: auto;
      text-align: center;

      img {
        max-width: 250px;
      }
    }
  }
}

@media (max-width: 640px) {

  .mobile {
    display: flex;
  }

  .desk {
    display: none;
  }

  .s1 {
    padding: 30px 20px;
    height: 400px;
    background-image: url('../assets/bgmobile.jpg');

    .container {
      h1 {
        font-size: 28px;
        max-width: 250px;
        margin-bottom: .4rem;


        br {
          display: none;
        }
      }

      p {
        max-width: 300px;

        br {
          display: none;

        }
      }
    }
  }

  .s2 {
    .s2-jump {
      padding: 15px 5px;
    }
  }

  .s3,
  .s4,
  .s5,
  .s6,
  .s7 {
    padding: 60px 20px;
  }

  .s3 {
    padding-bottom: 20px;

    .s3-chart img {
      padding: 40px 0;
    }

    .s3-content {
      p {
        font-size: 18px;
      }

      h2 {
        font-size: 24px;
      }

    }

    .s3-cta {
      button {
        padding: 14px 50px;
      }

      .s3-top {
        margin-bottom: 0px;
      }

      .s3-boxes {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }

      .s3-box:nth-child(1) {
        order: 1;
      }

      .s3-box:nth-child(3) {
        order: 2;
      }

      .s3-box:nth-child(4) {
        order: 3;
      }

      .s3-box:nth-child(2) {
        order: 4;
      }
    }
  }

  .s4 {
    padding-bottom: 20px;

    .s4-left h2 {
      font-size: 24px;
    }

    .s4-top-text {
      font-size: 24px;
    }

    .s4-right img {
      height: 230px;
      object-fit: cover;
    }

    .s4-video {

      .play {
        width: 100px;
      }
    }

    .s4-left {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 18px;
      }

      ul {
        li {
          font-size: 18px;
        }
      }
    }
  }

  .s5 {
    padding: 30px 20px;

    .s5-title {
      font-size: 24px;
    }
  }

  .s6 {
    padding-bottom: 20px;
    .s6-content {
      flex-direction: column;
    }

    .s6-box {
      height: 700px;
      align-items: flex-start;
    }

    .s6-text p {
      max-width: 270px;
      font-weight: 18px;
    }

    .s6-image {
      position: absolute;
      bottom: 0;
      right: 0;

      img {
        max-width: 600px;
      }
    }
  }
}